<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="Prosegur.Genesis.GenerarReporte" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <system.net>
    <defaultProxy enabled="false"/>
  </system.net>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config"/>
    <security>
      <timeToleranceInSeconds value="86400"/>
      <defaultTtlInSeconds value="86400"/>
    </security>
    <messaging>
      <maxMessageLength value="-1"/>
    </messaging>
  </microsoft.web.services3>
  <appSettings>
    <!-- Servidor usado para o envio de e-mails -->
    <add key="ServidorSMTP" value="webmail.prosegur.com"/>
    <!-- Conta de e-mail usada como remetente -->
    <add key="Remetente" value="br.fsw@prosegur.com"/>
    <add key="Porta_SMTP" value="587"/>
    <add key="Usuario_SMTP" value="LATAM2\br.fsw"/>
    <add key="Senha_SMTP" value="Fsw@2014"/>
    <add key="SSL_SMTP" value="true"/>
    <!-- Caminho dos dicionários. -->
    <!--<add key="DirDicionarios" value="_Dicionarios" />-->
    <!-- Localización (URL) del servicio de Genesis -->
    <add key="UrlServicio" value="http://localhost/Prosegur.Genesis.Servicio.Producto/"/>
    <!-- Localización (URL) del servicio de Seguridad en el AD. -->
    <add key="UrlLoginGlobal" value="http://10.83.0.97:8291/WebServicioSeguridadAD.Producto/Seguridad.asmx"/>
    <!-- Usuario y seña a ser pasada en la cabecera SOAP para validación de la aplicación que llama el servicio -->
    <add key="UsuarioWSLogin" value="token"/>
    <add key="PasswordWSLogin" value="t0k3n"/>
    <add key="FormatarPrecinto" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- Configurar para buscar las remesas desde determinada cantidad de días hasta la fecha actual -->
    <add key="CantidadDiasRemesa" value="30"/>
  </appSettings>
  <Prosegur.Genesis.GenerarReporte>
    <add key="GENERAR_ARCHIVO_LOG" value="1"/>
    <!-- Camino de los diccionarios. -->
    <add key="DirDicionarios" value="_Dicionarios\GenerarReporte"/>
    <!-- ################# CONFIGURACIONES DE EMAIL ################# -->
    <!-- Informacion adicional enviada en el asunto del email de error del proceso -->
    <add key="InformacaoAdicional" value="Proceso DUO Generar Reporte Certificación"/>
    <!-- Se puede informar una lista de emails, separados por punto y coma, 
		de las personas que van a recibir los errores ocurridos en el proceso 
		(Solo va a ser utilizado si esta lista no esta definida en las configuraciones del proceso en el sitio Duo) -->
    <add key="EmailDestinatario" value="braxis.anselmo.gois@prosegur.com"/>
  </Prosegur.Genesis.GenerarReporte>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.4.0" newVersion="4.112.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
