<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection"/>
	</configSections>
	<!--<bugsnag apiKey="d4bfcaedb862469b4f8a8dc662438ca1" releaseStage="development" sessionsEndpoint="http://10.83.0.17:8080/bugsnag-sessions" endpoint="http://10.83.0.17:8080/bugsnag-notify"  autoNotify="true" />-->
	<system.net>
		<defaultProxy enabled="false"/>
	</system.net>
	<appSettings>
		<!--Google Analytics.-->
		<add key="GoogleAnalyticsEndpoint" value="http://proapigw.emea.prosegur.local:82/google-analytics/collect"/>
		<add key="GoogleAnalyticsAccount" value="UA-126851336-2"/>
		<add key="GoogleAnalyticsHelper_IsEnabled" value="true"/>
		<add key="GoogleAnalyticsRequestTimeout" value="15000"/>
		<!-- Diccionario utilizados en la traducción. -->
		<add key="DirDicionarios" value="_Dicionarios"/>
		<!-- Define el tiempo del timeout para el servicio en segundos. 
         El valor del parámetro se multiplica por un valor fijo (1000) y tendrá su resultado en milisegundos.
         Ejemplo: 600 * 1000 = 600000 milisegundos, lo que corresponde a 10 minutos. -->
		<add key="WS_TIMEOUT" value="600000"/>
		<!-- Localización (URL) del servicio de Genesis -->
		<add key="UrlServicio" value="http://localhost/Prosegur.Genesis.Servicio.Producto/"/>
		<!-- Usuario y seña a ser pasada en la cabecera SOAP para validación de la aplicación que llama el servicio -->
		<add key="UsuarioWSLogin" value="token"/>
		<add key="PasswordWSLogin" value="t0k3n"/>
		<add key="PathXmlError" value="C:\tmp\error\"/>
		<add key="CodigoPais" value="BR"/>
		<!-- ENDEREÇOS DE DEBUG PARA AS APLICACOES EM AMBIENTE DE DESENVOLVIMENTO  -->
		<add key="UrlSitioDebug_IAC" value="http://localhost/Prosegur.Genesis.IAC.Producto/"/>
		<add key="UrlSitioDebug_Reportes" value="http://localhost/Prosegur.Genesis.Listado.Conteo.Producto/"/>
		<add key="UrlSitioDebug_GenesisSaldos" value="http://localhost/Prosegur.Genesis.NuevoSaldos.Producto/"/>
		<add key="UrlSitioDebug_ConsultaLocal" value="http://localhost/Prosegur.Genesis.ConsultaLocal.Producto/"/>
		<add key="UrlServicioDebug_IAC" value="http://localhost/Prosegur.Genesis.Servicio.Producto/"/>
		<add key="UrlServicioDebug_Reportes" value="http://localhost/Prosegur.Genesis.Servicio.Producto/"/>
		<add key="UrlServicioDebug_GenesisSaldos" value="http://localhost/Prosegur.Genesis.Servicio.Producto/"/>
		<!-- CONFIGURAÇÕES DAS APLICAÇÕES -->
		<!-- INICIADA COM O PREFIXO DO CODIGO DA APLICAÇÃO -->
		<!-- IAC -->
		<!-- Caminho dos dicionários. -->
		<add key="IAC_DirDicionarios" value="Dicionarios"/>
		<!-- Configuração dos grids. -->
		<add key="IAC_MaximoCaracteresLinha" value="30"/>
		<add key="IAC_MaximoRegistroGrid" value="1000"/>
		<!--Visibilidade do Processo-->
		<add key="IAC_visibilidadProcesos" value="0"/>
		<add key="IAC_codigo_delegacion_central" value="999"/>
		<!--Mantem o estilo antigo do framework.-->
		<add key="IAC_USA_ESTILO_ANTIGO" value="1"/>
		<!--Exibe os detalhes do erro de uma exceção tratada-->
		<add key="IAC_EXIBE_EXCECAO" value="1"/>
		<!-- REPORTES -->
		<add key="Reportes_DirDicionarios" value="Dicionarios"/>
		<add key="Reportes_MaximoCaracteresLinha" value="15"/>
		<add key="Reportes_MaximoRegistroGrid" value="100"/>
		<add key="Reportes_NumCaducidadSesion" value="0"/>
		<add key="Reportes_CodPuestoSesion" value="Reportes1"/>
		<add key="Reportes_CrystalImageCleaner-AutoStart" value="true"/>
		<add key="Reportes_CrystalImageCleaner-Sleep" value="60000"/>
		<add key="Reportes_CrystalImageCleaner-Age" value="120000"/>
		<add key="Reportes_IndicadorDecimales" value=","/>
		<add key="Reportes_SeparadorColumnas" value=";"/>
		<add key="Reportes_SeparadorFalsos" value="#"/>
		<add key="Reportes_CalificadorTexto" value="'"/>
		<!--Mantem o estilo antigo do framework.-->
		<add key="Reportes_USA_ESTILO_ANTIGO" value="1"/>
		<!--Exibe os detalhes do erro de uma exceção tratada-->
		<add key="Reportes_EXIBE_EXCECAO" value="1"/>
		<!-- Código default del cliente para el listado recibo F22 respaldo-->
		<add key="Reportes_Cliente_Default_F22_Respaldo" value="660173"/>
		<!-- Se debe considerar el campo oid_remesa_ori en lugar del campo Código transporte -->
		<add key="Reportes_Sustituir_F22_Por_OidRemesaOri" value="0"/>
		<!-- Se debe exhibir el campo CodSubCliente -->
		<add key="Reportes_Exhibir_CodSubCliente" value="1"/>
		<!-- Dias para se calcular data base para recuperar os itens de procesos, se não informado default = 100-->
		<add key="Reportes_FechaBasePedidoBCP" value=""/>
		<!-- Configura o reporte Detalle Parciales para sair as denominações em colunas ou agrupadas-->
		<add key="Reportes_DetalleParcialesDenominacionEnFila" value="1"/>
		<!-- Configura o reporte Contado por Puesto para buscar os postos pela aplicação-->
		<add key="Reportes_CodAplicacionConteo" value="Conteo"/>
		<add key="Reportes_ReportServicesURL" value="http://10.83.0.99/ReportServer/"/>
		<add key="Reportes_RS_A_USER" value="reportservice"/>
		<add key="Reportes_RS_A_PASS" value="Prosegur01"/>
		<add key="Reportes_RS_A_DOMAIN" value="10.83.0.99"/>
		<add key="Reportes_CarpetaReportes" value="/HML_PD"/>
		<add key="Reportes_REPO_URL" value="\\ARDC1SVHWA036.latam1.prosegur.local"/>
		<!--  carpeta de acceso al repositorio, la url completa se compondra de REPO_URL\REPO_HOME.-->
		<add key="Reportes_REPO_HOME" value="\Reportes"/>
		<!-- Tempo limite para resposta do Reports em milisegundos -->
		<add key="Reportes_Timeout" value="100000000"/>
		<!-- Novo Saldos -->
		<!-- Certificar todos os setores -->
		<add key="GenesisSaldos_CertTodosSectores" value="0"/>
		<!-- Certificar todos os canais -->
		<add key="GenesisSaldos_CertTodosCanales" value="0"/>
		<!-- Certificar todas as delegações -->
		<add key="GenesisSaldos_CertTodasDelegaciones" value="0"/>
		<!-- Url do serviço do report services-->
		<add key="GenesisSaldos_ReportServicesURL" value="http://10.83.0.99/ReportServer/"/>
		<add key="GenesisSaldos_RS_A_USER" value="reportservice"/>
		<add key="GenesisSaldos_RS_A_PASS" value="Prosegur01"/>
		<add key="GenesisSaldos_RS_A_DOMAIN" value="10.83.0.99"/>
		<add key="GenesisSaldos_CarpetaReportes" value="/HML_PD"/>
		<!-- Tempo limite para resposta do Reports em milisegundos -->
		<add key="GenesisSaldos_Timeout" value="18000000"/>
		<!-- Url do serviço do reportes -->
		<add key="Report_ReportServicesURL" value="http://10.83.0.99/ReportServer/"/>
		<add key="Report_RS_A_USER" value="reportservice"/>
		<add key="Report_RS_A_PASS" value="Prosegur1"/>
		<add key="Report_RS_A_DOMAIN" value="10.83.0.99"/>
		<add key="Report_CarpetaReportes" value="/HML_PD"/>
		<!-- Tempo limite para resposta do Reports em milisegundos -->
		<add key="Report_Timeout" value="18000000"/>
		<add key="ServidorAD" value="corps084"/>
		<add key="ConcatenarDominioUsuario" value="1"/>
		<add key="URLServicioAuthAD" value="https://prouser.prosegur.com/login/soap/v2.1"/>
		<add key="UserWSAuthAD" value="genesisproducto"/>
		<add key="PassWSAuthAD" value="N76W8ZbHfvoJ"/>
		<add key="DefaultDomainWSAuthAD" value="LATAM1"/>
		<add key="BugsnagHelper_IsHandledNotifyEnabled" value="true"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime enableVersionHeader="false" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
			<assemblies>
				<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<webServices>
			<!--<soapExtensionTypes>
        <add type="Prosegur.Trace.TraceExtension, Prosegur.Trace" priority="1" group="0" />
      </soapExtensionTypes>-->
			<soapExtensionImporterTypes>
				<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</webServices>
		<pages enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="Prosegur.Web" namespace="Prosegur.Web" tagPrefix="pro"/>
			</controls>
		</pages>
		<trust level="Full"/>
		<sessionState timeout="365"/>
		<customErrors mode="RemoteOnly" />
	</system.web>
	<microsoft.web.services3>
		<policy fileName="wse3policyCache.config"/>
		<security>
			<defaultTtlInSeconds value="86400"/>
			<timeToleranceInSeconds value="86400"/>
		</security>
		<tokenIssuer>
			<statefulSecurityContextToken enabled="true"/>
		</tokenIssuer>
	</microsoft.web.services3>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>